
.button:hover{
	-fx-text-fill:#fff;
	-fx-padding:0.0 0.0 0.0;
	-fx-font-size:12.0px;	
	-fx-font-family:"FontAwesome";	
	-fx-background-color:#37474F;
		-fx-border-radius:10px;	
}
 .MenuButton:hover {
 
	-fx-padding:0.0 0.0 0.0;
	-fx-border-radius:10.0;
	-fx-font-size:20.0px;
		
}

.MenuItem:hover{
   
	-fx-text-fill:#e9967a;
	-fx-padding:0.0 0.0 0.0;
	-fx-border-radius:10px;
	-fx-font-weight:bold;
	-fx-font-size:18.0px;		
}
.text-field{
	
	-fx-alignment:center;
	-fx-font-size:12.0px;	
}
.combo-Box{
	-fx-alignment:center;
	-fx-text-fill:red;
	-fx-font-size:10.0px;
	-fx-font-weight:bold;
}
#buttonAdd{
  		-fx-font-size:12.0px;
		-fx-font-weight:bold;
		-fx-color:white;
		-fx-backgroud-color:black;	
		}
/*Estelizando as Text Fields */
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}



